body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(./bachG.jpeg);
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background: rgba(72, 64, 3, 0.51);
    padding: 20px;
    border-radius: 5px;
}

.todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
}

.done h3 {
    text-decoration: line-through;
}

#controls {
    display: flex;
    justify-content: space-between;
}

button {
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
}

#todoForm
{
    position: relative;
    display: grid;
    grid-template-columns: 8fr ;
    gap: 0.9em;
    margin-bottom: 0.9em;
}

#todoForm input
{
    height: 3em;
    background-color:  rgba(49, 44, 6, 0.51);
    color: #f8f3f3;
    border: 1px solid #ddd;

    
}
#todoForm2 input
{
    height: 3em;
    background-color:  rgba(173, 172, 160, 0.307);
    color: #171414;
    
}

.style
{
  background-color: rgba(113, 110, 89, 0.51);
  border: none;
  color: bisque;
  font-size: 1em;
  
}


.filtered {
    display: none;
}
