*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    background-image: url(back.jpeg);
    background-position: center;
    background-size: cover;

}

.listApp
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 5em;
    width: min(95vw,31.25em);
}

.container
{
    padding: 2em 2.5em;
    background-color: rgba(63, 36, 88, 0.5);
    border-radius: 0.8em;
    /* display: flex;
    justify-content: center; */
}

.back
{
    position: relative;
    display: grid;
    grid-template-columns: 8fr ;
    gap: 0.9em;
    margin-bottom: 0.9em;
}

.back input
{
    width: 100%;
    background-color: rgb(76, 33, 33, 0.6);
    color: rgb(239, 245, 245);
    font-size: 0.9em;
    border: none;
    border-bottom: solid 2px #cf569c;
    padding: 1em ;
}

.back button
{
    position: relative;
    border-radius: 1em;
    font-weight: 500;
    font-size: 1em;
    background-color: rgba(76, 33, 33, 0.5);
    border: none;
    outline: none;
    color: rgb(239, 245, 245);
    cursor: pointer;
}

#filter
{
    display: flex;
    justify-content: space-around;
    height: 2em;
    margin-bottom: 1em;
}

#filter button
{
    border-radius: 1em;
    font-weight: 700;
    font-size: 1em;
    background-color: rgba(76, 33, 33, 0.5);
    border: none;
    outline: none;
    color: rgb(239, 245, 245);
    cursor: pointer;
}

.todo 
{
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding: 1rem;
   border-bottom: solid 1px;
   border-top: solid 1px;
   transition: 0.3s;
}

.todo h3
{
  flex: 1;
  font-size: 1rem;  
}

.todo button
{
    margin-left: 0.4rem;
}

.done
{
    background-color: rgba(194, 214, 227, 0.5);

}

.done h3
{
    color:#0c4b25;
    text-decoration: line-through;
    font-style: italic;
}

.hide
{
   display: none;
}

#MessageError
{
    text-align: center;
    background-color: #edabab;
    border-radius: 0.8em;
    color: rgb(158, 26, 30);
    margin-top: 1.5em;
    padding: 1em 0;
    display: none;  /* to display with JS */ 
}
